.app ***REMOVED***
***REMOVED***
.tsinfolink ***REMOVED***
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
***REMOVED***
.detail-toolbar ***REMOVED***
    background-color: rgb(16,53,112)!important;
***REMOVED***
.toolbar-button ***REMOVED***
    background-color: rgb(16,53,112)!important;
    border-color: rgb(16,53,112)!important;
***REMOVED***

.node text ***REMOVED***
    font: 14px sans-serif;
  ***REMOVED***
  
  .info--box text ***REMOVED***
      font-size: 14px;
      font-family: "ProximaNovaSemiBold,Helvetica,Arial"
  ***REMOVED***
  .node--internal text ***REMOVED***
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  ***REMOVED***
  .local--link ***REMOVED***
    fill: none;
    stroke: #111;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  ***REMOVED***
  .remote--link ***REMOVED***
    fill: none;
    stroke: #ddd;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  ***REMOVED***
  .invisible--link ***REMOVED***
    fill: none;
    stroke: #ddd;
    stroke-opacity: 0.0;
    stroke-width: 1.5px;
  ***REMOVED***
  
  .predecessor--link ***REMOVED***
    fill: dashed;
    stroke: lightblue;
    stroke-opacity: 0.5;
    stroke-width: 3px;
  ***REMOVED***
  .error--node  ***REMOVED***
    fill: rgb(0, 0, 0);
  ***REMOVED***
  .data--errors  ***REMOVED***
    stroke: #f00;
    stroke-width: 3px;
  ***REMOVED***
  .no--errors ***REMOVED***
    stroke: #111;
    stroke-width: 2px;
  ***REMOVED***
  .no--errors--not--started ***REMOVED***
    fill: #00ffff;
    stroke: #111;
    stroke-width: 2px;
  ***REMOVED***
  .no--errors--in--progress ***REMOVED***
    fill: #0f0;
    stroke: #00f;
    stroke-width: 2px;
  ***REMOVED***
  
  .dotOutline ***REMOVED***
    stroke: #000;
    stroke-width: 2px;
  ***REMOVED***
  
  .gotDependencies ***REMOVED***
    stroke: #f00;
    stroke-width: 2px;
    fill: #ff0000;
  ***REMOVED***
  
  .gotSuccText ***REMOVED***
    fill: #888800;
  ***REMOVED***
  .gotPredText ***REMOVED***
    fill: #ff0000;
  ***REMOVED***
  
  .boldText ***REMOVED***
    font-weight: bold;
  ***REMOVED***
  
  .RAID-blue ***REMOVED***
    border-radius: 10px;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    background-color: #145FAC;
  ***REMOVED***
  
  .RAID-red ***REMOVED***
    border-radius: 10px;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    background-color: #ff005c;
  ***REMOVED***
  
  .RAID-amber ***REMOVED***
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f3ca5e;
    height: 20px;
    width: 20px;
  ***REMOVED***
  
  .RAID-green ***REMOVED***
    border-radius: 10px;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    background: #b3ee01;
  ***REMOVED***
  
  .q0-3***REMOVED***fill:rgb(252,141,89)***REMOVED***  .q1-3***REMOVED***fill:rgb(255,255,191)***REMOVED***  .q2-3***REMOVED***fill:rgb(145,191,219)***REMOVED***
   .q0-4***REMOVED***fill:rgb(215,25,28)***REMOVED***  .q1-4***REMOVED***fill:rgb(253,174,97)***REMOVED***  .q2-4***REMOVED***fill:rgb(171,217,233)***REMOVED***  .q3-4***REMOVED***fill:rgb(44,123,182)***REMOVED***
   .q0-5***REMOVED***fill:rgb(215,25,28)***REMOVED***  .q1-5***REMOVED***fill:rgb(253,174,97)***REMOVED***  .q2-5***REMOVED***fill:rgb(255,255,191)***REMOVED***  .q3-5***REMOVED***fill:rgb(171,217,233)***REMOVED***  .q4-5***REMOVED***fill:rgb(44,123,182)***REMOVED***
   .q0-6***REMOVED***fill:rgb(215,48,39)***REMOVED***  .q1-6***REMOVED***fill:rgb(252,141,89)***REMOVED***  .q2-6***REMOVED***fill:rgb(254,224,144)***REMOVED***  .q3-6***REMOVED***fill:rgb(224,243,248)***REMOVED***  .q4-6***REMOVED***fill:rgb(145,191,219)***REMOVED***  .q5-6***REMOVED***fill:rgb(69,117,180)***REMOVED***
   .q0-7***REMOVED***fill:rgb(215,48,39)***REMOVED***  .q1-7***REMOVED***fill:rgb(252,141,89)***REMOVED***  .q2-7***REMOVED***fill:rgb(254,224,144)***REMOVED***  .q3-7***REMOVED***fill:rgb(255,255,191)***REMOVED***  .q4-7***REMOVED***fill:rgb(224,243,248)***REMOVED***  .q5-7***REMOVED***fill:rgb(145,191,219)***REMOVED***  .q6-7***REMOVED***fill:rgb(69,117,180)***REMOVED***
   .q0-8***REMOVED***fill:rgb(215,48,39)***REMOVED***  .q1-8***REMOVED***fill:rgb(244,109,67)***REMOVED***  .q2-8***REMOVED***fill:rgb(253,174,97)***REMOVED***  .q3-8***REMOVED***fill:rgb(254,224,144)***REMOVED***  .q4-8***REMOVED***fill:rgb(224,243,248)***REMOVED***  .q5-8***REMOVED***fill:rgb(171,217,233)***REMOVED***  .q6-8***REMOVED***fill:rgb(116,173,209)***REMOVED***  .q7-8***REMOVED***fill:rgb(69,117,180)***REMOVED***
   .q0-9***REMOVED***fill:rgb(215,48,39)***REMOVED***  .q1-9***REMOVED***fill:rgb(244,109,67)***REMOVED***  .q2-9***REMOVED***fill:rgb(253,174,97)***REMOVED***  .q3-9***REMOVED***fill:rgb(254,224,144)***REMOVED***  .q4-9***REMOVED***fill:rgb(255,255,191)***REMOVED***  .q5-9***REMOVED***fill:rgb(224,243,248)***REMOVED***  .q6-9***REMOVED***fill:rgb(171,217,233)***REMOVED***  .q7-9***REMOVED***fill:rgb(116,173,209)***REMOVED***  .q8-9***REMOVED***fill:rgb(69,117,180)***REMOVED***
  
   @keyframes textBlink ***REMOVED***
    50% ***REMOVED***
      opacity: 0.5;
    ***REMOVED***
  ***REMOVED***
  @-webkit-keyframes textBlink ***REMOVED***
    50% ***REMOVED***
      opacity: 0.5;
    ***REMOVED***
  ***REMOVED***
  .textBlink ***REMOVED***
    animation: textBlink 1s step-start 0s infinite;
    -webkit-animation: textBlink 1s step-start 0s infinite;
  ***REMOVED***
  
  .RAID-missing-severity ***REMOVED***
    border-radius: 10px;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    background-color: white;
    background: linear-gradient(#ffffff 50%, #ff0000 50%);
    background-size: 20% 100%;
    background-repeat: repeat-x;
  ***REMOVED***
  .RAID-missing-probability ***REMOVED***
    border-radius: 10px;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    background-color: white;
    background: linear-gradient(#ff0000 50%, #ffffff 50%);
    background-size: 20% 100%;
    background-repeat: repeat-x;
  ***REMOVED***
  .RAID-missing-severity-probability ***REMOVED***
    border-radius: 10px;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    background-color: white;
  ***REMOVED***

  .highcharts-tooltip ***REMOVED***
    font-family:NotoSansBold;
    color:white;
***REMOVED***
.tooltip-point ***REMOVED***
    text-align: right;
    color: white;
***REMOVED***
.tooltip-label ***REMOVED***
    font-family:NotoSans;
    white-space:nowrap;
    font-size:13px;
    color:white;
***REMOVED***
.etlDate ***REMOVED***
    color: grey;
    font-family:NotoSans;
    font-style: italic;
***REMOVED***
.timeline ***REMOVED***
  font-family: ProximaNova;
  font-size:12px;
***REMOVED***
.timeline-green ***REMOVED***
  color: #009933;
***REMOVED***
.timeline-yellow ***REMOVED***
  color: #FAD200;
***REMOVED***
.timeline-red ***REMOVED***
  color: #B81B10;
***REMOVED***
.timeline-gray ***REMOVED***
    color:#999999;
***REMOVED***
.timeline-label ***REMOVED***
    color:#444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
***REMOVED***
.timeline-blue ***REMOVED***
  color: #00a9e0;
***REMOVED***

.risk ***REMOVED***
  font-family: ProximaNova;
  font-size:18px;
  color: #FAD200;
  font-weight: bolder;
  padding: 10;
***REMOVED***
.no-risk ***REMOVED***
  font-family: ProximaNova;
  font-size:16px;
  color: #009933;
  font-weight: bolder;
  padding: 10;
***REMOVED***

.feature-dependency ***REMOVED***
  font-family: ProximaNova;
  font-size:14px;
  color: #004299;
  font-weight: bold;
  padding: 10;
***REMOVED***
.legend-title ***REMOVED***
  font-family: ProximaNova;
  font-size:14px;
  padding: 3px;
***REMOVED***
.legend ***REMOVED***
  font-family: ProximaNova;
  font-size:12px;
  padding: 3px;
***REMOVED***
.legend-dot ***REMOVED***
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
***REMOVED***

.not-defined ***REMOVED***
  background-color: #CCCCCC;
***REMOVED***
.not-started ***REMOVED***
  background-color: #999999;
***REMOVED***
.in-progress ***REMOVED***
  background-color: #00a9e0;
***REMOVED***
.done ***REMOVED***
  background-color: #009933;
***REMOVED*** 
.health-red***REMOVED***
  background-color: #F66349;
***REMOVED***
.health-green ***REMOVED***
  background-color: #8DC63F;
***REMOVED***
.health-yellow***REMOVED***
  background-color: #FAD200;
***REMOVED***
.health-white***REMOVED***
  background-color: #E0E0E0;
***REMOVED***
.health-gray***REMOVED***
  background-color: #D1D1D1;
***REMOVED***